<!doctype html>
<html lang="es">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>

<!-- Begin #carousel-section -->
<section id="carousel-section" class="section-global-wrapper">
    <div class="container-fluid-kamn">
        <div class="row">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-lg">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Begin Slide 1 -->
                    <div class="item active">
                        <img src="../assets/img/other/maribel-slider-1.jpeg" height="400" alt="COMENTARIO 1">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Maribel Noguera 1</h3>
                            <p class="carousel-body">COMENTARIO 1</p>
                        </div>
                    </div>
                    <!-- End Slide 1 -->
                    <!-- Begin Slide 2 -->
                    <div class="item">
                        <img src="../assets/img/other/maribel-slider-1.jpeg" height="400" alt="COMENTARIO 2">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Maribel Noguera 2</h3>
                            <p class="carousel-body">COMENTARIO 2</p>
                        </div>
                    </div>
                    <!-- End Slide 2 -->
                    <!-- Begin Slide 3 -->
                    <div class="item">
                        <img src="../assets/img/other/maribel-slider-1.jpeg" height="400" alt="COMENTARIO 3">
                        <div class="carousel-caption">
                            <h3 class="carousel-title hidden-xs">Maribel Noguera 3</h3>
                            <p class="carousel-body">COMENTARIO 3</p>
                        </div>
                    </div>
                    <!-- End Slide 3 -->
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End #carousel-section -->

<!-- Begin #services-section -->
<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <!-- <h3 class="services-header-title">Servicios</h3> -->
                <p class="services-header-body"><em>¿En qué te puedo ayudar?</em></p>
                <hr>
            </div>
        </div>
        <!-- Begin Services Row 1 -->
        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-thumbs-o-up fa-5x"></span></p>
                    <h4 class="services-title">Terapia 1</h4>
                    <p class="services-body">Breve descripción de Terapia 1.</p>
                    <p class="services-more"><a href="/terapia.html#Terapia%201">Saber más...</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                    <h4 class="services-title">Terapia 2</h4>
                    <p class="services-body">Breve descripción de Terapia 2.</p>
                    <p class="services-more"><a href="/terapia.html#Terapia%202">Saber más...</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                    <h4 class="services-title">Terapia 3</h4>
                    <p class="services-body">Breve descripción de Terapia 3.</p>
                    <p class="services-more"><a href="/terapia.html#Terapia%203">Saber más...</a></p>
                </div>
            </div>
        </div>
        <!-- End Services Row 1 -->
        <!-- Begin Services Row 2 -->
        <div class="row services-row services-row-tail services-row-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <p class="services-icon"><span class="fa fa-thumbs-o-up fa-5x"></span></p>
                    <h4 class="services-title">Coaching 1</h4>
                    <p class="services-body">Breve descripción de Coaching 1.</p>
                    <p class="services-more"><a href="/coaching.html#Coaching%201">Saber más...</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                    <h4 class="services-title">Coaching 2</h4>
                    <p class="services-body">Breve descripción de Coaching 2.</p>
                    <p class="services-more"><a href="/coaching.html#Coaching%202">Saber más...</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <p class="services-icon"><i class="fa fa-thumbs-o-up fa-5x"></i></p>
                    <h4 class="services-title">Coaching 3</h4>
                    <p class="services-body">Breve descripción de Coaching 3.</p>
                    <p class="services-more"><a href="/coaching.html#Coaching%203">Saber más...</a></p>
                </div>
            </div>
        </div>
        <!-- End Services Row 2 -->
    </div>
</section>
<!-- End #services-section -->

</body>

{% include footer.html %}
</html>
